*{
    margin: 0;
    padding: 0;
}
.title{
    text-align: center;
    font-size: 70px;
}
.header-area{
    margin-top: 50px;
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
}
.half{
    width: 50%;
}
.half img{
    width: 70%;
}
.mode-name{
    display: flex;
}
h1{
    text-align: center;
    font-size: 40px;
}
.model{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    color: rgb(65, 116, 236);
}
h2{
    padding-top: 10px;
}
p{
    text-align: justify;
    padding-top: 10px;
}
.two-part{
    width: 50%;
    margin: 2% 5%;
    padding: 10px 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
#top-border{
    border-top: 5px solid red;
    border-left: 5px solid red;
}
#bottom-border{
    border-bottom: 5px solid blue;
    border-right: 5px solid blue;
}
.products{
    display: flex;
    margin: 2% 5%;
}
.three-part{
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 10px 10px 50px gray;
    padding-top: 50px;
    border-radius: 20px;
}
.three-part:hover{
    background-color: red;
}
.three-part img{
    width: 100%;
}
.product-content{
    display: flex;
    margin: 2% 7%;
}
.content-area{
    width: 33%;
    padding: 15px;
    box-shadow: 10px 10px 40px gray;
    margin: 0 5px;
    border-radius: 10px;
}
.my-area{
    display: flex;
    box-shadow: 10px 10px 40px gray;
    margin: 20px;
    border-left: 5px solid red;
    border-right: 5px solid red;
    border-radius: 10px;
}
.last-part{
    width: 50%;
    padding-right: 20px;
}
.last-part img{
    width: 70%;
}
.feedback{
    display: flex;
    margin: 0 100px;
}
footer p{
    text-align: center;
    padding-bottom: 10px;
}